html
    head
        title= title
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    body
        h1 Upload do video #{name} realizado com sucesso!
        h1 Link do video #{link}

        #{player}
        script(src="https://player.vimeo.com/api/player.js")
