html
    head
        title= title
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    body
        h1 Upload de vídeo!
        form( action="/upload" method="POST" enctype="multipart/form-data" )
            h4 Nome do video
            input(type="text" name="title")
            h4 Descricao do video
            textarea(name="description")
            h4 Selecione o video
            input(type="file" name="video")
            h4
            input(type="submit" value="Enviar")

            br
            br
            br
            h6 O Processo de upload pode demorar um pouco, aguarde...
